<!-- <div>About us</div> -->
<section class="about-us" id="about-us">
  <div class="container">
    <div class="inner-container">
      <div class="description">
        <h2 class="title">About Us</h2>
        <p class="text">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
        <p class="text">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
      </div>
      <button class="button" type="button">View catalog</button>
    </div>
  </div>
  <div class="container pict">
    <picture>
      <source srcset="1x.jpg 1x, 2x.jpg 2x" media="(max-width: 767px;)" />
      <source srcset="1x.jpg 1x, 2x.jpg 2x" media="(min-width: 768px;)" />
      <source srcset="1x.jpg 1x, 2x.jpg 2x" media="(min-width: 1280px;)" />
      <!-- <img src="./images/img2.jpg" alt="teamcard2" width="264" /> -->
    </picture>
    <!-- <img
      srcset="/src/img/rectangle.jpg 1x, /src/img/rectangle.jpg 2x"
      src="/src/img/rectangle.jpg"
      alt="rectangle"
    /> -->
  </div>
</section>
