<!--Section advertisement-->
<section class="advertisement" id="advertisement">
  <div class="container">
    <div class="advertisement-container">
      <h2 class="advertisement-title visually-hidden">Advertisement</h2>
      <p class="text-advertisement">
        Choose <span class="desk">your story</span>, making every moment unique.
        Time is your style, and we reveal it.
      </p>
      <button class="button-advertisement" type="button">Contact Us</button>
    </div>
  </div>
</section>
