<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-card">
          <picture class="hidden-img">
            <source srcset="1x, 2x" media="min-width:1280px" />
            <source srcset="1x, 2x" media="min-width:768px" />
            <source srcset="1x, 2x" media="max-width:767px" />
            <img src=" " alt="photo of watch" width="279" />
          </picture>

          <div class="image"></div>
          <div class="card-information">
            <p class="watch-name">Garmin Fenix 7X Pro Sapphire Solar</p>
            <p class="watch-prise">€500</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-card">
          <picture>
            <source srcset="1x, 2x" media="min-width:1280px" />
            <source srcset="1x, 2x" media="min-width:768px" />
            <source srcset="1x, 2x" media="max-width:767px" />
            <img src=" " alt="photo of watch" width="279" />
          </picture>
          <div class="card-information">
            <p class="watch-name">Garmin Marq Athlete</p>
            <p class="watch-prise">€450</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-card">
          <picture>
            <source srcset="1x, 2x" media="min-width:1280px" />
            <source srcset="1x, 2x" media="min-width:768px" />
            <source srcset="1x, 2x" media="max-width:767px" />
            <img src=" " alt="photo of watch" width="279" />
          </picture>
          <div class="card-information">
            <p class="watch-name">Garmin Descent MK1</p>
            <p class="watch-prise">€680</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-card">
          <picture>
            <source srcset="1x, 2x" media="min-width:1280px" />
            <source srcset="1x, 2x" media="min-width:768px" />
            <source srcset="1x, 2x" media="max-width:767px" />
            <img src=" " alt="photo of watch" width="279" />
          </picture>
          <div class="card-information">
            <p class="watch-name">Garmin D2 Delta PX</p>
            <p class="watch-prise">€380</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item hidden">
        <div class="catalog-card">
          <picture>
            <source srcset="1x, 2x" media="min-width:1280px" />
            <source srcset="1x, 2x" media="min-width:768px" />
            <source srcset="1x, 2x" media="max-width:767px" />
            <img src=" " alt="photo of watch" width="279" />
          </picture>
          <div class="card-information">
            <p class="watch-name">Garmin Fenix 6 Pro Solar</p>
            <p class="watch-prise">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item hidden">
        <div class="catalog-card">
          <picture>
            <source srcset="1x, 2x" media="min-width:1280px" />
            <source srcset="1x, 2x" media="min-width:768px" />
            <source srcset="1x, 2x" media="max-width:767px" />
            <img src=" " alt="photo of watch" width="279" />
          </picture>
          <div class="card-information">
            <p class="watch-name">Tube Watch S42 Date Steel With Black Case</p>
            <p class="watch-prise">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
  </div>
</section>
