<section class="catalog" id="catalog"></section>
  <div class="container-catalog container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-card">
          <div class="image-container">
          <picture>
              <source
                srcset="../img/catalog/Garmin-Fenix7x-pc.png 1x, ../img/catalog/Garmin-Fenix7x-2x-pc.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="../img/catalog/Garmin-Fenix7x-tab.png 1x, ../img/catalog/Garmin-Fenix7x-2x-tab.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="../img/catalog/Garmin-Fenix7x-mob.png 1x,  ../img/catalog/Garmin-Fenix7x-mob-2x.png 2x"
                media="(min-width: 320px)"
              />
              <img
                src="../img/catalog/Garmin-Fenix7x-pc.png"
                alt="Photo of watch"
                width="292"
              />
            </picture>
            </div>
          <div class="card-information">
            <p class="watch-name">Garmin Fenix 7X Pro Sapphire Solar</p>
            <p class="watch-prise">€500</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-card">
          <div class="image-container">
         <picture>
              <source
                srcset="../img/catalog/Garmin-Marq-Athlete-pc.png 1x, ../img/catalog/Garmin-Marq-Athlete-2x-pc.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="../img/catalog/Garmin-Marq-Athlete-tab.png 1x, ../img/catalog/Garmin-Marq-Athlete-tab-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="../img/catalog/Garmin-Marq-Athlete-mob.png 1x,  ../img/catalog/Garmin-Marq-Athlete-mob-2x.png 2x"
                media="(min-width: 320px)"
              />
              <img
                src="../img/catalog/Garmin-Marq-Athlete-pc.png"
                alt="Photo of watch"
                width="292"
              />
            </picture>
          </div>
          <div class="card-information">
            <p class="watch-name">Garmin Marq Athlete</p>
            <p class="watch-prise">€450</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-card">
          <div class="image-container">
            <picture>
              <source
                srcset="../img/catalog/Garmin-Descent-MK1-pc.png 1x, ../img/catalog/Garmin-Descent-MK1-2x-pc.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="../img/catalog/Garmin-Descent-MK1-tab.png 1x, ../img/catalog/Garmin-Descent-MK1-2x-tab.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="../img/catalog/Garmin-Descent-MK1-mob.png 1x,  ../img/catalog/Garmin-Descent-MK1-mob-2x.png 2x"
                media="(min-width: 320px)"
              />
              <img
                src="../img/catalog/Garmin-Descent-MK1-pc.png"
                alt="Photo of watch"
                width="292"
              />
            </picture>
          </div>
          <div class="card-information">
            <p class="watch-name">Garmin Descent MK1</p>
            <p class="watch-prise">€680</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-card">
          <div class="image-container">
           <picture>
              <source
                srcset="../img/catalog/Garmin-D2-Delta-pc.png 1x, ../img/catalog/Garmin-D2-Delta-2x-pc.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="../img/catalog/Garmin-D2-Delta-tab.png 1x, ../img/catalog/Garmin-D2-Delta-2x-tab.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="../img/catalog/Garmin-D2-Delta-mob.png 1x,  ../img/catalog/Garmin-D2-Delta-mob-2x.png 2x"
                media="(min-width: 320px)"
              />
              <img
                src="../img/catalog/Garmin-D2-Delta-pc.png"
                alt="Photo of watch"
                width="292"
              />
            </picture>
          </div>
          <div class="card-information">
            <p class="watch-name">Garmin D2 Delta PX</p>
            <p class="watch-prise">€380</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-card">
          <div class="image-container">
            <picture>
              <source
                srcset="../img/catalog/Fenix6-Pro-Solar-pc.png 1x, ../img/catalog/Fenix6-Pro-Solar-2x-pc.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="../img/catalog/Fenix6-Pro-Solar-tab.png 1x, ../img/catalog/Fenix6-Pro-Solar-2x-tab.png 2x"
                media="(min-width: 768px)"
              />
              <img
                src="../img/catalog/Fenix6-Pro-Solar-pc.png"
                alt="Photo of watch"
                width="292"
              />
            </picture>
          </div>
          <div class="card-information">
            <p class="watch-name">Garmin Fenix 6 Pro Solar</p>
            <p class="watch-prise">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-card">
          <div class="image-container" >
            <picture>
              <source
                srcset="../img/catalog/Tube-Watch-pc.png 1x, ../img/catalog/Tube-Watch-2x-pc.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="../img/catalog/Tube-Watch-tab.png 1x, ../img/catalog/Tube-Watch-2x-tab.png 2x"
                media="(min-width: 768px)"
              />
              <img
                src="../img/catalog/Tube-Watch-pc.png"
                alt="Photo of watch"
                width="292"
              />
            </picture>
          </div>
          <div class="card-information">
            <p class="watch-name">Tube Watch S42 Date Steel With Black Case</p>
            <p class="watch-prise">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
  </div>
</section>