<div>Contact us</div>

<section>
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="form">
      <p class="form-text">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form>
        <div class="form-cnt">
          <input
            type="text"
            class="form-input"
            name="user-name"
            placeholder="Name"
            required
          />
        </div>
        <div class="form-cnt">
          <input
            type="text"
            class="form-input"
            name="user-email"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-cnt">
          <input
            type="text"
            class="form-input"
            name="user-tel"
            placeholder="+380"
            required
          />
        </div>
        <div class="form-cnt">
          <textarea
            class="form-textarea"
            name="user-comment"
            placeholder="Comment"
            type="submit"
          ></textarea>
        </div>
        <button type="submit" class="form-btn">Send</button>
      </form>
    </div>
    <picture>
      <source srcset="1x, 2x" media="(min-width: 1200px)" />
      <source srcset="1x, 2x" media="(min-width: 768px)" />
      <source srcset="1x, 2x" media="(max-width: 375px)" />
      <img src="" alt="" width="" height="" />
    </picture>
  </div>
</section>
