<footer class="footer-section">
    <div class="container">
      <div class="footer-section-wrap">
      <div class="footer-top-position">
        <div class="logo-list">
          <a class="footer-logo" href="">watchcharm</a>
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a class="footer-social-link" href="https://www.facebook.com/goITclub/">
                <svg class="footer-social-icon" height="20" width="20">
                  <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a class="footer-social-link" href="https://www.instagram.com/goitclub/">
                <svg class="footer-social-icon" height="20" width="20">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a class="footer-social-link" href="https://www.youtube.com/c/GoIT">
                <svg class="footer-social-icon" height="20" width="20">
                  <use href="./img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <a class="footer-number" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <p class="footer-heading">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
      </div>

      <div class="footer-nav-wrap">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#home">Home</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#about-us">About Us</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#catalog">Catalog</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#sale">Sale</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#reviews">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#contact-us">Contact Us</a>
          </li>
        </ul>

        <address class="footer-address">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </address>
      </div>

      <div class="footer-terms-wrap">
        <p class="footer-copyright">
          ©2023 The Watch Spot. All rights reserved.
        </p>

        <ul class="footer-terms-list">
          <li class="footer-terms-item">
            <a class="footer-terms-link" href="#">Terms of Service</a>
          </li>
          <li class="footer-terms-item">
            <a class="footer-terms-link" href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</footer>
