<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-top-container">
      <div class="hero-title-container">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-span">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-rev-container">
        <img class="hero-rev-img" src="" alt="People" width="108" height="44" />
        <a href="#footer" class="hero-link-footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source srcset="" media="(min-width: 1150px)" />
      <source srcset="" media="(min-width: 768px)" />
      <source srcset="" media="(min-width: 375px)" />
      <img class="hero-img" src="" alt="Watch" width="335" height="366" />
    </picture>
  </div>
</section>
