<section id="sale" class="sale-sectione">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-container-inner">
    <div class="sale-inner-container">
    <div class="sale-inner">
      <ul class="sale-list-img">
        <li class="sale-list-item-clock">
          <div class="sale-img-cont">
            <picture>
              <source srcset="./img/sale/sale1-tab-pc.png 1x, ./img/sale/sale1-2x-tab-pc.png 2x" media="(min-width: 768px)">
              <source srcset="./img/sale/sale1-mob.png 1x, ./img/sale/sale1-mob-2x.png 2x" media="(max-width: 767px)">
              <img src="./img/sale/sale1-mob.png" alt="Garmin1" class="sale-img">
            </picture>
          </div>
        </li>
        <li class="sale-list-item-clock">
          <div class="sale-img-cont">
            <picture>
              <source srcset="./img/sale/sale2-tab-pc.png 1x, ./img/sale/sale2-2x-tab-pc.png 2x" media="(min-width: 768px)">
              <source srcset="./img/sale/sale2-mob.png 1x, ./img/sale/sale2-mob-2x.png 2x" media="(max-width: 767px)">
              <img src="./img/sale/sale2-mob.png" alt="Garmin2" class="sale-img">
            </picture>
          </div>
        </li>
        <li class="sale-list-item-clock">
          <div class="sale-img-cont">
            <picture>
              <source srcset="./img/sale/sale3-tab-pc.png 1x, ./img/sale/sale3-2x-tab-pc.png 2x" media="(min-width: 768px)">
              <source srcset="./img/sale/sale3-mob.png 1x, ./img/sale/sale3-mob-2x.png 2x" media="(max-width: 767px)">
              <img src="./img/sale/sale3-mob.png" alt="Garmin3" class="sale-img">
            </picture>
          </div>
        </li>
        <li class="sale-list-item-clock">
          <div class="sale-img-cont">
            <picture>
              <source srcset="./img/sale/sale4-tab-pc.png 1x, ./img/sale/sale4-2x-tab-pc.png 2x" media="(min-width: 768px)">
              <source srcset="./img/sale/sale4-mob.png 1x, ./img/sale/sale4-mob-2x.png 2x" media="(max-width: 767px)">
              <img src="./img/sale/sale4-mob.png" alt="Garmin4" class="sale-img">
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="sale-img-inner">
      <picture>
        <source srcset="./img/sale/sale5-tab-pc.png 1x, ./img/sale/sale5-2x-tab-pc.png 2x" media="(min-width: 768px)">
        <source srcset="./img/sale/sale5-mob.png 1x, ./img/sale/sale5-mob-2x.png 2x" media="(max-width: 767px)">
        <img src="./img/sale/sale5-mob.png" alt="Garmin5" class="sale-img-1">
      </picture>
    </div>
  </div>
    <div class="sale-title-inner">
      <h3 class="sale-h3">MARQ® Commander (Gen 2) - Carbon Edition</h3>
      <p class="sale-des">Product tag: 706587</p>
      <div class="inner-div">
        <div class="inner-div-sale">
        <p class="inner-div-sale-item">€1500</p>
    </div>
        <p class="inner-div-title">€3000</p>
      </div>
      <p class="sale-des-item">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-list">
        <li class="sale-list-item">
                <p class="sale-item-text">Fused carbon fiber </p>
        </li>
        <li class="sale-list-item">
                <p class="sale-item-text">Grade-5 Titanuim</p>
        </li>
        <li class="sale-list-item">
                <p class="sale-item-text">Athlete</p>
        </li>
        <li class="sale-list-item">
                <p class="sale-item-text">Golfer</p>
        </li>
        <li class="sale-list-item">
                <p class="sale-item-text">Commander</p>
        </li>
        <li class="sale-list-item">
                <p class="sale-item-text">Adventurer</p>
        </li>
      </ul>
    </div>
  </div>
  </div>
</section>