<section class="sale-sectione">
    <h2 class="sale-title">Sale</h2>
    <div class="container sale-container">
    <div class="sale-inner">
      <ul class="sale-list-img">
        <li class="sale-list-item">
          <div class="sale-img-cont">
            <img src="" alt="">
          </div>
        </li>
        <li class="sale-list-item">
          <div class="sale-img-cont">
            <img src="" alt="">
          </div>
        </li>
        <li class="sale-list-item">
          <div class="sale-img-cont">
            <img src="" alt="">
          </div>
        </li>
        <li class="sale-list-item">
          <div class="sale-img-cont">
            <img src="" alt="">
          </div>
        </li>
      </ul>
    </div>
    <div class="sale-img-inner">
        <img src="" alt="">
    </div>
    <div class="sale-title-inner">
      <h3 class="sale-h3">MARQ® Commander (Gen 2) - Carbon Edition</h3>
      <p class="sale-des">Product tag: 706587</p>
      <div class="inner-div">
        <div class="inner-div-sale">
        <p class="inner-div-sale-item">€1500</p>
    </div>
        <p class="inner-div-title">€3000</p>
      </div>
      <p class="sale-des-item">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-ul">
        <li class="sale-li">
            <div class="sale-li-div-1">
                <p class="sale-li-div-def">Fused carbon fiber </p>
            </div>
        </li>
        <li class="sale-li">
            <div class="sale-li-div-2">
                <p class="sale-li-div-def">Grade-5 Titanuim</p>
            </div>
        </li>
        <li class="sale-li">
            <div class="sale-li-div-3">
                <p class="sale-li-div-def">Athlete</p>
            </div>
        </li>
        <li class="sale-li">
            <div class="sale-li-div-4">
                <p class="sale-li-div-def">Golfer</p>
            </div>
        </li>
        <li class="sale-li">
            <div class="sale-li-div-5">
                <p class="sale-li-div-def">Commander</p>
            </div>
        </li>
        <li class="sale-li">
            <div class="sale-li-div-6">
                <p class="sale-li-div-def">Adventurer</p>
            </div>
        </li>
      </ul>
    </div>
  </div>
</section>
