.about-us
{margin-bottom: 60px;}

.inner-container 
{background-color: #f3f3f3;
border-radius: 30px;
padding: 40px 20px;
margin-bottom: 20px;}

.description 
{margin-bottom: 40px;}

.title 
{font-family: Gilroy, sans-serif;
font-size: 32px;
font-weight: 600;
letter-spacing: -0.02em;
line-height: 1;
color: #0c0c0c;
margin-bottom: 28px;}

.text-desc 
{font-family: Gilroy, sans-serif;
font-size: 14px;
font-weight: 500;
letter-spacing: -0.02em;
line-height: 1.29;
color: rgba(12, 12, 12, 0.7);
margin-bottom: 20px;}

.text-desc.last 
{margin-bottom: 0;}

.button
{display: block;
cursor: pointer;
border: 0 none;
border-radius: 16px;
background-color: #3350e9;
color: #fbfbfb;
padding: 15px 38px;
font-size: 14px;
font-weight: 500;}

.button:hover 
{background-color: #1f3cd4;}

.container-pict 
{width: 335px;
height: 446px;}

.container-pict img
{width: 100%;
height: 100%;
object-fit: cover;
border-radius: 30px;}

@media screen and (min-width: 768px) {

.about-us 
{margin-bottom: 80px;}

.inner-container 
{width: 704px;
height: 512px;
border-radius: 50px;
padding: 80px 60px;
margin-bottom: 40px;}

.description 
{margin-bottom: 60px;}

.title 
{font-size: 48px;
margin-bottom: 40px;}

.text-desc 
{font-size: 16px;
line-height: 1.25;}

.button 
{margin-bottom: 80px;}

.container-pict 
{width: 704px;
height: 512px;}

.container-pict img 
{border-radius: 50px;}

}

@media screen and (min-width: 1280px) {

.about-us 
{margin-bottom: 100px;}

.about
{display: flex;
flex-wrap: nowrap;
flex-direction: row;
gap: 40px;}

.inner-container
{width: 580px;
height: 532px;
margin-bottom: 0 auto;}

.description 
{margin-bottom: 40px;}

.container-pict 
{width: 530px;
height: 532px;}

}