.contact-section {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
  margin: 0 auto;
}

.contact-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  margin-bottom: 24px;
}
.form {
  background: #f3f3f3;
  border-radius: 30px;
  max-height: 512px;
  max-width: 335px;
  padding: 48px 28px;
  margin-bottom: 20px;
}
.form-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);

  margin-bottom: 28px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 28px;
}

.form-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 14px;
  width: 100%;
  height: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-color: #3350e9;
}

.form-input::placeholder,
.form-textarea::placeholder {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
}

.form-textarea {
  resize: none;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 14px;
  padding-top: 12px;
  box-sizing: border-box;
  width: 100%;
  height: 84px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn {
  font-weight: 500;
  font-size: 14px;
  font-family: 'Gilroy', sans-serif;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;

  border-radius: 16px;
  border: none;
  padding: 12px 50px;
  min-width: 134px;
  height: 42px;
  background: #3350e9;
}

.fotm-btn:hover,
.form-btn:focus {
  background: #1f3cd4;
}

.desktop-pos {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .contact-section {
    margin-bottom: 80;
  }

  .contact-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 40px;
  }

  .form {
    border-radius: 50px;
    padding: 50px 122px;
    max-width: 704px;
    max-height: 556px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
  }

  .form-text {
    font-size: 16px;
    line-height: 1.25;

    margin-bottom: 0;
  }

  form {
    margin-bottom: 0;
  }

  .form-input {
    height: 52px;
    padding-left: 16px;
  }

  .form-textarea {
    height: 90px;
    padding-left: 16px;
    padding-top: 16px;
  }

  .form-btn {
    width: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-section {
    margin-bottom: 100px;
  }

  .form {
    max-width: 580px;
    padding: 50px 60px;
  }

  .picture {
    max-width: 530px;
  }

  .desktop-pos {
    display: flex;
    gap: 40px;
  }
}
