.header {
  border-bottom: 1px solid #ededed;
}
.header-contaner {
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding: 20px 0;
  cursor: pointer;
}
/* 
.menu-toggle {
  opacity: 0;
}
.menu-toggle:checked ~ .menu-open-btn > span::before {
  top: 0;
  transform: rotate(45deg);
}
.menu-toggle:checked ~ .menu-open-btn > span::after {
  top: 0;
  transform: rotate(130deg);
}
.menu-toggle:checked ~ .menu-open-btn > span::before,
.menu-toggle:checked ~ .menu-open-btn > span::after {
  z-index: 20;
  background-color: #fbfbfb;
}
.menu-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 20px;
  padding-right: 20px;
}
.menu-open-btn > span::before,
.menu-open-btn > span::after {
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #0c0c0c;
}
.menu-open-btn > span::before {
  content: '';
  top: -4px;
}
.menu-open-btn > span::after {
  content: '';
  top: 4px;
} */
.nav-container {
  flex-direction: column;
  gap: 40px;
  display: flex;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
  align-items: center;
  position: fixed;
  background-color: #fff;
  justify-content: space-around;
  z-index: 10;
  transform: translateX(150%);
  transition: transform 0.5s ease;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
    ),
    url('../img/menu/menu_mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .nav-container {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url('../img/menu/menu_2x_mob.jpg');
  }
}
.is-open {
  transform: translateX(0);
}
.open-menu-btn, .close-menu-btn {
  background: transparent;
    border: none;
    cursor: pointer;
}
.close-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.menu-icon {
  fill: none;
  
}

/* .menu-toggle:checked ~ .nav-container {
  transform: translateX(0%);
} */

.nav-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  padding: 12px 0;
  display: block;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: '';
  width: 8px;
  left: 50%;
  height: 8px;
  background-color: #404bbf;
  border-radius: 50%;
  position: absolute;
  display: flex;
}
.nav-link::after {
  content: '';
  width: 0;
  left: 50%;
  height: 8px;
  background-color: #404bbf;
  border-radius: 50%;
  position: absolute;
  display: flex;
}
.nav-link:focus, .nav-link:hover {
  color: #3350e9;
}
.nav-link:focus::after {
  width: 8px;
}

.social-list {
  color: wheat;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  fill: #fbfbfbc2;
}
.social-link:focus .social-icon {
  fill: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .nav-container {
    width: 330px;
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url('../img/menu/menu_tab.jpg');
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .nav-container {
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.92),
          rgba(12, 12, 12, 0.92)
        ),
        url('../img/menu/menu_2x_tab.jpg');
    }
  }

  .nav-link {
    padding: 16px 0;
  }

  .header-contaner {
    padding: 26px 32px;
  }
  .logo {
    font-size: 20px;
    padding: 26px 0;
  }
  .menu-open-btn {
    top: 37px;
    right: 40px;
  }
  .menu-open-btn > span::before,
  .menu-open-btn > span::after {
    width: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-contaner {
    padding: 0 65px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .open-menu-btn, .close-menu-btn {
    display: none;
  }

  .nav-container {
    background-image: none;
  }
  .menu-open-btn,
  .menu-toggle {
    display: none;
  }
  .logo {
    padding: 26px 0;
  }
  .nav-container {
    transform: translateX(0%);
    position: sticky;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 203px;
    gap: 40px;
  }
  .nav-link {
    padding: 26px 0;
  }
  .nav-link:hover {
    color: #3350e9;
  }
  .social-link:hover .social-icon,
  .social-link:focus .social-icon {
    fill: #3350e9;
  }
  .social-link:hover,
  .social-link:focus {
    border: 1px solid rgba(51, 80, 233, 0.1);
  }
  .social-link {
    border: 1px solid rgba(12, 12, 12, 0.1);
  }

  .nav-link {
    color: #0c0c0c;
  }
  .social-icon {
    fill: #0c0c0c;
    width: 20px;
    height: 20px;
  }
}
