.sale-sectione {
    padding-bottom: 60px;
}
.sale-container {
    
}
.sale-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 24px;
}

.sale-inner {
}
.sale-list-img {
    display: flex;
gap: 5px;
margin-bottom: 20px;
}
.sale-list-item {
}
.sale-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(12, 12, 12, 0.05);
border-radius: 16px;
width: 80px;
height: 80px;
background-color: #f3f3f3;
}

.sale-img{
}

.sale-img-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(12, 12, 12, 0.05);
border-radius: 30px;
/* width: 335px;
height: 385px; */
background-color: #f3f3f3;
margin-bottom: 20px;
}
.sale-title-inner {
    padding: 48px 28px;
    border-radius: 30px;
width: 335px;
height: 561px;
background-color: #3350e9;
}
.sale-h3 {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.02em;
color: #fbfbfb;
padding-bottom: 10px;
}
.sale-des {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
font-size: 14px;
line-height: 1.28;
letter-spacing: -0.02em;
color: rgba(251, 251, 251, 0.5);
margin-bottom: 20px;
}
.inner-div {
    display: flex;
    margin-bottom: 28px;
}
.inner-div-sale {
    border-radius: 8px;
background-color: rgba(251, 251, 251, 0.1);
padding: 8px 12px;
}
.inner-div-sale-item {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
color: #fbfbfb;
}
.inner-div-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.02em;
text-decoration: line-through;
color: rgba(251, 251, 251, 0.5);
margin-left: 9px;
display: flex;
align-items: center;
}
.sale-des-item {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: rgba(251, 251, 251, 0.7);
margin-bottom: 28px;
}
.sale-list {
    display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
}

.sale-list-item{
    border: 1px solid rgba(251, 251, 251, 0.2);
border-radius: 8px;
padding: 8px 12px;
}
.sale-item-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
font-size: 12px;
line-height: 1.33;
color: #fbfbfb;
}

.sale-img-1 {
    padding: 50px;
}

@media screen and (min-width: 768px) {
    .sale-container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
min-height: 1200px;
    }

    .sale-title{
        font-size: 48px;
        margin-bottom: 40px;
    }

    .sale-inner-container{
        display: flex;
        margin-bottom: 40px;
    }

    .sale-inner{
        
    }

    .sale-list-img{
        flex-direction: column;
        gap: 10px;
        padding-right: 20px;
    }

    .sale-img-cont{
        border: 1px solid rgba(12, 12, 12, 0.05);
        border-radius: 20px;
        width: 132px;
        height: 132px;
    }

    .sale-img-inner{
        border-radius: 50px;
    }

    .sale-title-inner {
        border-radius: 50px;
        width: 704px;
        height: 518px;
        padding: 60px 60px;
    }

    .sale-h3 {
        width: 436px;
    font-size: 32px;
    line-height: 1.13;
    color: #fbfbfb;
    }

    .sale-des {
    }

    .inner-div {
        margin-bottom: 30px;
    }

    .inner-div-sale {
    max-width: 78px;
    }.inner-div-sale-item {
        font-size: 20px;
        line-height: 1;
        }
    
        .sale-des-item {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 40px;
        }
    
        .sale-list {
            width: 398px;
        }

        .sale-img-1 {
            padding: 80px 112px;
        }
    }

    @media screen and (min-width: 1280px) {
        .sale-container{
            display: block;
                }

        .sale-container-inner{
            display: flex;
            gap: 40px;
        }

        .sale-title-inner{
            width: 530px;
height: 558px;
        }

        .sale-img-inner{width: 428px;
height: 558px;
        }

        .sale-h3{
            width: 389px;
        }

        .sale-img-1 {
            padding: 80px 50px;
        }
    }